<section class="padded">
  <div class="container" >

    <div class="row">
      <div class="col-sm-2" >
        <p class="spec_text text-right "><img src="img/prev-page.png" class="prev-icon"> </img>&nbsp;Back
        </p>
      </div>
      <div class="col-sm-8" >
        <p class="text-center">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </p>
      </div>

    </div>

    <div class="row">
      <p class="text-center page-info">
        Personal Information
      </p>
      <hr class="gold_line"></hr>
      <br/>
      <br/>
      <p class="text-center page-subinfo">
        Creat new account
      </p>
      <p class="text-center">
        <span class="slant">Already a member</span><span class="link"> Log in</span>
      </p>
    </div>


      </div>
    </div>
  </div>
</section>
