<section class="padded">
  <div class="container" >

    <div class="row">
      <div class="col-sm-2" >
        <p class="spec_text text-right "><a href="#/car_detail"><img src="img/prev-page.png" class="prev-icon"> </img>&nbsp;Back</a>
        </p>
      </div>
      <div class="col-sm-8" >
        <p class="text-center">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </p>
      </div>

    </div>

    <div class="row">
      <p class="text-center page-info">
        How you get the car now
      </p>
      <hr class="gold_line"> </hr>
    </div>


    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-3" >
        <div class="form-group">
          <input type="checkbox" id="checkbox-1-1" class="ui-checkbox" ng-model="chauffeur_selected" />
          <label class="label-text" for="checkbox-1-1">I need a chauffeur</label>
          <hr></hr>
        </div>
        <!--Start show this if chauffeur is  choosen -->
        <div  class="" ng-show="chauffeur_selected">
          <div class="form-group ">
        <div class="col-md-12 input-group">
        <span class="input-group-addon text-group-addon-small"><i class="flaticon flaticon-placeholder-3 golden"></i></span>
            <textarea rows="2" size="30" value="" class="form-control text-textarea-small-left" placeholder="Enter pickup location" ng-model="pickup_location" ng-focus="clear();"></textarea>
        </div>
      </div>

        </div>
        <!--End show this if chauffeur is  choosen -->


          <!--Start show this if chauffeur is not choosen -->
        <div  class=""  ng-show="!chauffeur_selected">
          <div class="form-group">
            <div class="col-lg-6">
              <div class="reg">
                <label><input type="radio" name="optradio" value="0" ng-model="deliver_the_Car">
                  <span></span>
                </label>
                <abbr> Deliver the car to me </abbr>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="reg">
                <label><input type="radio" name="optradio" value="1" ng-model="deliver_the_Car">
                  <span></span>
                </label>
                <abbr> I'll pick up the car </abbr>
              </div>
            </div>
          </div>

          <!--Start show this if user chooses to deliver  the car -->
          <div class="" ng-show="deliver_the_Car == 0">

          <div class="form-group ">
        <div class="col-md-12 input-group">
            <span class="input-group-addon text-group-addon-small"><i class="flaticon flaticon-placeholder-3 golden"></i></span>
            <textarea rows="2" size="30" value="" class="form-control text-textarea-small-left" placeholder="Delivery Address" ng-model="delivery_address" ng-focus="clear();"></textarea>
        </div>
    </div>
    <div class="form-group ">
  <div class="col-md-12 input-group">
    <span class="input-group-addon checkbox-group-addon-small">
      <input type="checkbox" class="add-checkbox " id="checkbox-1-1" ng-model="collection_selector" ng-change="col_change();" >
    </span>
      <textarea rows="2" size="30" value="" class="form-control text-textarea-small-left" placeholder="Collection address same as delivery address" ng-model="collection_address" ng-disabled="disable_address" ng-focus="clear();"></textarea>
  </div>
</div>



        </div>
        <!--End show this if user chooses to deliver  the car -->
        <!--Start show this if user chooses to pick up the car -->
        <div class="" ng-show="deliver_the_Car == 1">
          <div id="carLocationMap"></div>


        </div>
        <!--End show this if user chooses to pick up the car -->
        </div>
        <!--End show this if chauffeur is choosen -->

        <div class="form-group">
          <textarea class="form-control text-textarea-small" rows="3" placeholder="Additional request" ng-model="additional_request"></textarea>
        </div>
        <div class="alert alert-warning golden"  ng-show="showMessage" ng-hide="!showMessage">
        {{message}}
  </div>
        <div class="form-group">
          <p class="text-center">
            <a href="" class=" btn golden-button btn-lg btn-center" role="button" ng-click="next_personal();">
              Proceed
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
