<section class="padded">
  <div class="container" >

    <div class="row">
      <div class="col-sm-2" >
        <p class="spec_text text-right "><img src="img/prev-page.png" class="prev-icon"> </img>&nbsp;Back
        </p>
      </div>
      <div class="col-sm-8" >
        <p class="text-center">
          <span class="dot"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </p>
      </div>

    </div>

    <div class="row">
      <p class="text-center page-info">
        Personal Information
      </p>
      <hr class="gold_line"></hr>
      <br/>
      <br/>
      <p class="text-center page-subinfo">
        Create new account
      </p>
      <p class="text-center">
        <span class="slant">Already a member? </span><span class="link"> Log in</span>
      </p>
    </div>
<form name="signup">
    <div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
  <div class="col-sm-6">
    <input class="form-control form-text"  placeholder="First Name" ng-model="signup.first_name" type="text" required>
  </div>
  <div class="col-sm-6">
    <input class="form-control form-text" placeholder="Last Name" ng-model="signup.last_name" type="text" required>
  </div>


</div>
</div>

<div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
  <div class="col-sm-6">
  <input class="form-control form-text" placeholder="Date of Birth" ng-model="signup.dob" type="date" required>
  </div>
<div class="col-sm-6">
<input class="form-control form-text" placeholder="Nationality" ng-model="signup.nationality" type="text" required>
</div>
</div>

      </div>

      <div class="form-group row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="col-sm-6">
        <input class="form-control form-text" placeholder="Email Id" type="text" ng-model="signup.email" ng-pattern="emailFormat"  ng-blur="changes()" required>
        </div>
      <div class="col-sm-6">
      <input class="form-control form-text" placeholder="Mobile Number" ng-model="signup.mobile" type="number" required>
      </div>
      </div>
            </div>

            <div class="form-group row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="col-sm-6">
              <input class="form-control form-text" placeholder="Password" type="password" ng-model="signup.password"   required>
              </div>
            <div class="col-sm-6">
            <input class="form-control form-text" placeholder="Confirm password" ng-model="signup.confirm_password" type="password" required>
            </div>
            </div>
                  </div>

            <div class="form-group row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="col-sm-12">
            <input class="form-control form-text" ng-model="signup.address_line1" placeholder="Address line 1" type="text" required>
          </div>

        </div>
        </div>
        <div class="form-group row">
    <div class="col-lg-6 col-lg-offset-3">

      <div class="col-sm-12">
        <input class="form-control form-text" ng-model="signup.address_line2" placeholder="Address line 2" type="text" required>
      </div>
    </div>
    </div>

        <div class="form-group row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="col-sm-4">
        <input class="form-control form-text" placeholder="Town/city" ng-model="signup.city" type="text" required>
      </div>
      <div class="col-sm-4">
        <input class="form-control form-text" placeholder="County" ng-model="signup.county" type="text" required>
      </div>
      <div class="col-sm-4">
        <input class="form-control form-text" placeholder="Postal Code" ng-model="signup.postal_code" type="text" required>
      </div>
    </div>
    </div>
    <div class="row">
<div class="col-lg-6 col-lg-offset-3">
  <div class="col-sm-6">

    <div class="upload-div" ngf-select="uploadDrivingFiles($files)" accept="image/*"  >

      <img class="upload-icon" src="img/plus.png"></img>
    </div>
      <p class="text-center priceRange"> {{driving_image_name}} </p>
  </div>
  <div class="col-sm-6">
    <div class="upload-div" ngf-select="uploadAddressFiles($files)" accept="image/*" >

      <img class="upload-icon" src="img/plus.png" ></img>
    </div>
    <p class="text-center priceRange"> {{address_image_name}}</p>
    </div>

    <div class="col-sm-12">

      <div class="alert alert-warning golden"  ng-show="showMessage" ng-hide="!showMessage">
      {{message}}
</div>
      <p class="text-center">
        <a class=" btn golden-button-black btn-lg btn-center" role="button" ng-click="signUp(signup)" data-ng-disabled="signup.$invalid">
          Create & Proceed
        </a>

      </p>
    </div>
  </div>
</div>
</form>

</div>

    </div>
  </div>
</section>
