<section class="padded">
  <div class="container" >

    <div class="row">
      <div class="col-sm-2" >
        <p class="spec_text text-right "><img src="img/prev-page.png" class="prev-icon"> </img>&nbsp;Back
        </p>
      </div>
      <div class="col-sm-8" >
        <p class="text-center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active"></span>
        </p>
      </div>

    </div>

    <div class="row">
      <p class="text-center page-info">
         Card Verification & Payment
      </p>
      <hr class="gold_line"></hr>
      <br/>
      <br/>
    </div>

    <div class="row">
<div class="col-lg-6 col-lg-offset-3">
  <p class="card-title "> Card 1 </p>

</div>
</div>
    <div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
<br/>
  <div class="col-sm-6">
    <input class="form-control form-text" placeholder="Credit card number" type="number">
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <input class="form-control form-text" placeholder="Security code" type="number">
  </div>


</div>
</div>

<div class="form-group row">
  <div class="col-lg-6 col-lg-offset-3">

  <div class="col-sm-6">
    <input class="form-control form-text" placeholder="Country" type="text">
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <input class="form-control form-text" placeholder="Expiration date" type="date">
  </div>

</div>
</div>


<div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
    <hr></hr>

  </div>
</div>


<div class="row">
<div class="col-lg-6 col-lg-offset-3">
<p class="card-title "> Card 2 </p>

</div>
</div>
<div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
<br/>
<div class="col-sm-6">
<input class="form-control form-text" placeholder="Credit card number" type="number">
</div>
<div class="col-sm-4 col-sm-offset-2">
<input class="form-control form-text" placeholder="Security code" type="number">
</div>


</div>
</div>

<div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">

<div class="col-sm-6">
<input class="form-control form-text" placeholder="Country" type="text">
</div>
<div class="col-sm-4 col-sm-offset-2">
<input class="form-control form-text" placeholder="Expiration date" type="date">
</div>

</div>
</div>

<div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
    <hr></hr>

  </div>
</div>


        <div class="form-group row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="col-sm-5">
        <p class="spec_text"> Pay car rent through </p>
      </div>
      <div class="col-sm-7">

          <select class="form-control filter" placeholder="Town/city">
            <option value="car1"> Card 1 name </option>
            <option value="car1"> Card 2 name </option>

          </select>
      </div>

    </div>
    </div>
    <div class="form-group row">
<div class="col-lg-6 col-lg-offset-3">
  <div class="col-sm-5">
    <p class="spec_text">Pre-Authorize security deposit through
 </p>
  </div>
  <div class="col-sm-7">

      <select class="form-control filter" placeholder="Town/city">
        <option value="car1"> Card 1 name </option>
        <option value="car1"> Card 2 name </option>
        <option value="car1"> Add new card </option>
      </select>
  </div>

</div>
</div>
    <div class="row">
<div class="col-lg-6 col-lg-offset-3">



    <div class="col-sm-12">
        <div class="wrapper">
      <section>
        <p class="text-center">
        <button class="progress-button" data-style="fill" data-horizontal>Rent this car</button>
        </p>
      </section>
    </div>
    </div>
  </div>
</div>


</div>

    </div>
  </div>
</section>
<script>
			[].slice.call( document.querySelectorAll( 'button.progress-button' ) ).forEach( function( bttn ) {
				new ProgressButton( bttn, {
					callback : function( instance ) {
						var progress = 0,
							interval = setInterval( function() {
								progress = Math.min( progress + Math.random() * 0.1, 1 );
								instance._setProgress( progress );

								if( progress === 1 ) {
									instance._stop(1);
									clearInterval( interval );
								}
							}, 200 );
					}
				} );
			} );
		</script>
