<div class="container-fluid " >

  <div class="row carContainer">
    <div class="col-sm-4" id="left">
      <div class="col-sm-8 filters">
        <p class="filter-title"> Start Date </p>
        <div class="input-group">
          <div class="input-group-addon date-group-addon-small"><i class="flaticon flaticon-calendar-6"></i></div>
        <input class="form-input date-input-small" type="date">  </input>
        <div class="input-group-addon time-group-addon-small"><i class="flaticon flaticon-clock-1"></i></div>
    <input class="form-input time-input-small" type="time"></input>
        </div>
      </div>

      <div class="col-sm-8 filters">

        <p class="filter-title"> End Date </p>
        <div class="input-group">
          <div class="input-group-addon date-group-addon-small"><i class="flaticon flaticon-calendar-6"></i></div>
        <input class="form-input date-input-small" type="date">  </input>
        <div class="input-group-addon time-group-addon-small"><i class="flaticon flaticon-clock-1"></i></div>
    <input class="form-input time-input-small" type="time"></input>
        </div>
      </div>

  <div class="col-sm-12 filters">
      <p class="filter-title"> Price Range </p>
    <rzslider class="custom-slider"
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
    </div>
    <div class="col-sm-12 filters">
        <p class="filter-title"> Vehicle Type </p>
      <select class="filter">
        <<option value="0">Sedan </option>
      </select>
      </div>
      <div class="col-sm-12 filters">
          <p class="filter-title"> Transmisison </p>
        <select class="filter">
          <option value="0">Automatic </option>
        </select>
        </div>
        <div class="col-sm-12 filters">
            <p class="filter-title"> Vehicle Make </p>
          <select class="filter">
            <<option value="0">Audi </option>
          </select>
        </div>
  </div>
    <div class="col-sm-8" id="right">
      <div class="car_card">
        <div class="car_card1">
        <img src="img/lambo.jpg" ></img>
      </div>
      </div>
      <div class="detailcard">
          <div class="col-sm-1">
            <img class="detail-logo" src="img/Lambo_logo.png"> </img>
          </div>

          <div class="col-sm-8">
            <h3 ><span class="detailTitle">Lamborghini Aventador</span><span class="detailSubTitle">Pirelli Edition</span></h3>
            <h3 ><span class="detailYear">2014</span></h3>
          </div>
          <div class="col-sm-3 ">
            <h3 class="pull-right vertical-center"><span class="detailPrice"><small>£</small>500/<small>day</small></span></h3>

          </div>
      </div>
      <div class="car_card">
        <div class="car_card1">
        <img src="img/lambo.jpg" ></img>
      </div>
      </div>
      <div class="detailcard">
          <div class="col-sm-1">
            <img class="detail-logo" src="img/Lambo_logo.png"> </img>
          </div>

          <div class="col-sm-8">
            <h3 ><span class="detailTitle">Lamborghini Aventador</span><span class="detailSubTitle">Pirelli Edition</span></h3>
            <h3 ><span class="detailYear">2014</span></h3>
          </div>
          <div class="col-sm-3 ">
            <h3 class="pull-right vertical-center"><span class="detailPrice"><small>£</small>500/<small>day</small></span></h3>

          </div>
      </div>

      <h4 >

      </h4>
    </div>
  </div>
</div>
