<section>
  <div class="container-fluid" >

    <div class="row">
      <div class="col-sm-12 carCarousal" >
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="carousel1">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example" data-slide-to="1"></li>
              <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <div class="item active">
                <img src="http://wallpapercave.com/wp/qa3ExnD.jpg" />
                <div class="carousel-caption">

                </div>
              </div>
              <div class="item">
                <img src="http://wallpapercave.com/wp/qa3ExnD.jpg" />
                <div class="carousel-caption">

                </div>
              </div>
              <div class="item">
                <img src="http://wallpapercave.com/wp/qa3ExnD.jpg" />
                <div class="carousel-caption">
                </div>
              </div>
            </div>
          </div>
          <!-- <a class="left carousel-control" href="#carousel-example" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->
    </div>
    <div class="detailCarCard">
      <div class="col-sm-1">
        <img class="detail-logo" src="img/Lambo_logo.png"> </img>
      </div>

      <div class="col-sm-8">
        <h3 ><span class="detailTitle">Lamborghini Aventador</span><span class="detailSubTitle">Pirelli Edition</span></h3>
        <h3 ><span class="detailYear">2014</span></h3>
      </div>
      <div class="col-sm-3 ">
        <h3 class="pull-right vertical-center">
          <span class="detailPrice">
            <small >£</small>
            <span class="rufina-big">500</span>
            <small class="rufina">/day</small>
          </span>
        </h3>

      </div>
    </div>

  </div>
</div>
</div>
</section>
<!-- Car Specification  -->
<section class="padded">
  <div class="carSpecsContainer">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <img src="img/bhp.png" class="specImg center-block"> </img>
        <hr class="gold_line"></hr>
        <p class="spec_text">Horsepower</p>
        <hr class=""></hr>
        <p class="spec_text">730 BPH</p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">

        <p class="text-center">
          <a href="work.php" class=" btn golden-button-black btn-lg btn-center" role="button" >
            See Full Specifications
          </a>
        </p>

        <hr></hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <p class="filter-title"> Start Date </p>
        <div class="input-group">
          <div class="input-group-addon date-group-addon-small"><i class="flaticon flaticon-calendar-6"></i></div>
        <input class="form-input date-input-small" type="date">  </input>
        <div class="input-group-addon time-group-addon-small"><i class="flaticon flaticon-clock-1"></i></div>
      <input class="form-input time-input-small" type="time"></input>
        </div>
      </div>
      <div class="col-sm-2">

      </div>
      <div class="col-sm-5 filters">
        <p class="filter-title"> End Date </p>
        <div class="input-group">
          <div class="input-group-addon date-group-addon-small"><i class="flaticon flaticon-calendar-6"></i></div>
        <input class="form-input date-input-small" type="date">  </input>
        <div class="input-group-addon time-group-addon-small"><i class="flaticon flaticon-clock-1"></i></div>
    <input class="form-input time-input-small" type="time"></input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped spectable">
            <tbody>
              <tr>
                <td class="text-right col-md-5">Distance included</td>
                <td class="col-md-2"></td>
                <td class="text-left col-md-5">60 Miles. Additional £2/mile for exceeding.</td>
              </tr>
              <tr>
                <td class="text-right">Daily price</td>
                  <td class="col-md-2"></td>
                <td class="text-left">£550</td>
              </tr>
              <tr>
                <td class="text-right">Security deposit</td>
                  <td class="col-md-2"></td>
                <td class="text-left">£7550</td>
              </tr>

            </tbody>
          </table>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">

        <p class="text-center">
          <a href="work.php" class=" btn golden-button-black btn-lg btn-center" role="button" >
            Rent This Car
          </a>

        </p>
<p class="text-center">
  <span class="text-center small-text"> <img src="img/exclamatory.png" class="small-icon">  Please read the guidelines <br/>prior to booking</span>
  </p>
      </div>
    </div>

  </div>
</section>
