<div class="container-fluid home" >

  <div class="row homeContainer">
    <div class="col-lg-5">
      <h4 class="title">
        Lorem Ipsum
      </h4>
      <div class="hr"></div>
      <h5 class="subtitle">
        Lorem ipsum dolor sit amet, ante ac nulla rutrum tellus vivamus. Ut risus lorem risus, senectus fusce wisi sed libero.
      </h5>
      <a href="" class=" btn golden-button btn-lg " role="button" ng-click="all();">
      Browse All
      </a>
    </div>
    <div class="col-lg-5 col-lg-offset-2">
      <div class="homeBox">
        <section>
      <div class="tabs tabs-style-flip">
        <nav>
          <ul>
            <li><a href="#section-flip-5" ><span><i class="flaticon flaticon-calendar-7"></i>Search By Date</span></a></li>
            <li><a href="#section-flip-4" ><span>Search By Make</span></a></li>

          </ul>
        </nav>
        <div class="content-wrap">
          <section id="section-flip-1">

            <div class="row">
              <div class="col-sm-6">
                <p class="date-title"> Start Date </p>
                <div class="input-group">
                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
                <!-- <input class="form-input date-input" type="date">  </input> -->
                <input data-provide="datepicker" class=" date-input " id="startDate" onkeydown="return false"  ng-model="startDateM">
                </div>
                <div class="input-group">
                  <div class="input-group-addon time-group-addon">
                    <i class="flaticon flaticon-clock-1"></i></div>
              <select class="form-input time-select" ng-model="startTime">
                <option value="00:00:00">12 AM </option>
                <option value="01:00:00">1 AM </option>
                <option value="02:00:00">2 AM </option>
                <option value="03:00:00">3 AM </option>
                <option value="04:00:00">4 AM </option>
                <option value="05:00:00">5 AM </option>
                <option value="06:00:00">6 AM </option>
                <option value="07:00:00">7 AM </option>
                <option value="08:00:00">8 AM </option>
                <option value="09:00:00">9 AM </option>
                <option value="10:00:00">10 AM </option>
                <option value="11:00:00">11 AM </option>
                <option value="12:00:00">12 PM </option>
                <option value="13:00:00">1 PM </option>
                <option value="14:00:00">2 PM </option>
                <option value="15:00:00">3 PM </option>
                <option value="16:00:00">4 PM </option>
                <option value="17:00:00">5 PM </option>
                <option value="18:00:00">6 AM </option>
                <option value="19:00:00">7 PM </option>
                <option value="20:00:00">8 PM </option>
                <option value="21:00:00">9 PM </option>
                <option value="22:00:00">10 PM </option>
                <option value="23:00:00">11 PM </option>

              </select>
              </div>


              </div>
              <div class="col-sm-2">

              </div>
              <div class="col-sm-6">
                <p class="date-title"> End Date </p>
                <div class="input-group">
                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
                <input data-provide="datepicker" class="date-input" id="endDate" onkeydown="return false" ng-model="endDateM">
                </div>
                <div class="input-group">
                  <div class="input-group-addon time-group-addon">
                    <i class="flaticon flaticon-clock-1"></i></div>
              <select class="form-input time-select" ng-model="endTime">
                <option value="00:00:00">12 AM </option>
                <option value="01:00:00">1 AM </option>
                <option value="02:00:00">2 AM </option>
                <option value="03:00:00">3 AM </option>
                <option value="04:00:00">4 AM </option>
                <option value="05:00:00">5 AM </option>
                <option value="06:00:00">6 AM </option>
                <option value="07:00:00">7 AM </option>
                <option value="08:00:00">8 AM </option>
                <option value="09:00:00">9 AM </option>
                <option value="10:00:00">10 AM </option>
                <option value="11:00:00">11 AM </option>
                <option value="12:00:00">12 PM </option>
                <option value="13:00:00">1 PM </option>
                <option value="14:00:00">2 PM </option>
                <option value="15:00:00">3 PM </option>
                <option value="16:00:00">4 PM </option>
                <option value="17:00:00">5 PM </option>
                <option value="18:00:00">6 AM </option>
                <option value="19:00:00">7 PM </option>
                <option value="20:00:00">8 PM </option>
                <option value="21:00:00">9 PM </option>
                <option value="22:00:00">10 PM </option>
                <option value="23:00:00">11 PM </option>

              </select>
              </div>

              </div>
              <div class="col-sm-12">
              <a ng-click="searchDate()" class=" btn golden-button-black btn-lg search-button " role="button" >
              Search
              </a>
            </div>
            </div>

          </section>
          <section id="section-flip-2" >
            <div class="row">
              <div class="col-sm-12">
                <br/>
                <div class="input-group">

                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-search-1"></i></div>

                <select  class="form-control make-select" name="make" ng-model="make" ng-options="obj.id as obj.name for obj in models"  required/>

                </select>
                </div>
            <br/>

              </div>
              <div class="col-sm-12">
                <h5>
                  <span class="golden-text">Popular Searches: </span>
                  <a class="brand_suggest"> Bentley</a>
                  <a class="brand_suggest" >Lamborgini </a>
                  <a class="brand_suggest" >Mercedes </a>
                </h5>
              </div>

              <div class="col-sm-12">

              <a ng-click="searchMake()" class=" btn golden-button-black btn-lg search-button " role="button" >
              Search
              </a>
            </div>
            </div>

          </section>

        </div><!-- /content -->
      </div><!-- /tabs -->
    </section>
      </div>
    </div>
  </div>
</div>

<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
		</script>
