<div class="container-fluid home" >

  <div class="row homeContainer">
    <div class="col-lg-5">
      <h4 class="title">
        Lorem Ipsum
      </h4>
      <div class="hr"></div>
      <h5 class="subtitle">
        Lorem ipsum dolor sit amet, ante ac nulla rutrum tellus vivamus. Ut risus lorem risus, senectus fusce wisi sed libero.
      </h5>
      <a href="work.php" class=" btn golden-button btn-lg " role="button" >
      Browse All
      </a>
    </div>
    <div class="col-lg-5 col-lg-offset-2">
      <div class="homeBox">
        <section>
      <div class="tabs tabs-style-flip">
        <nav>
          <ul>
            <li><a href="#section-flip-5" ><span><i class="flaticon flaticon-calendar-7"></i>Search By Date</span></a></li>
            <li><a href="#section-flip-4" ><span>Search By Make</span></a></li>

          </ul>
        </nav>
        <div class="content-wrap">
          <section id="section-flip-1">

            <div class="row">
              <div class="col-sm-6">
                <p class="date-title"> Start Date </p>
                <div class="input-group">
                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
                <input class="form-input date-input" type="date">  </input>
                </div>
                <div class="input-group">
                  <div class="input-group-addon time-group-addon"><i class="flaticon flaticon-clock-1"></i></div>
              <input class="form-input time-input" type="time">
              </div>
            </input>

              </div>
              <div class="col-sm-2">

              </div>
              <div class="col-sm-6">
                <p class="date-title"> End Date </p>
                <div class="input-group">
                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
                <input class="form-input date-input" type="date">  </input>
                </div>
                <div class="input-group">
                  <div class="input-group-addon time-group-addon"><i class="flaticon flaticon-clock-1"></i></div>
              <input class="form-input time-input" type="time">
              </div>
              </div>
              <div class="col-sm-12">
              <a href="work.php" class=" btn golden-button-black btn-lg search-button " role="button" >
              Search
              </a>
            </div>
            </div>

          </section>
          <section id="section-flip-2" >
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <br/>
                <div class="input-group">

                  <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-search-1"></i></div>
                <input class="form-input text-input" type="text" placeholder="Enter car make here">
                </input>
                </div>
            <br/>

              </div>
              <div class="col-sm-12">
                <h4 ><span class="golden-text">Popular Searches: </span> <a class="brand_suggest">Bentley </a><a class="brand_suggest" href="">Lamborgini </a><a class="brand_suggest" href="">Mercedes </a></h4>
              </div>

              <div class="col-sm-12">

              <a href="work.php" class=" btn golden-button btn-lg search-button " role="button" >
              Search
              </a>
            </div>
            </div>

          </section>

        </div><!-- /content -->
      </div><!-- /tabs -->
    </section>
      </div>
    </div>
  </div>
</div>

<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
		</script>
