<section class="padded">
  <div class="container" >



    <div class="row">
      <p class="text-center page-info">
        Login
      </p>
      <hr class="gold_line"></hr>
      <br/>
      <br/>


    </div>

    <div class="form-group row">
<div class="col-lg-4 col-lg-offset-4">
  <div class="col-sm-12">
    <input class="form-control form-text" placeholder="Email" type="email" ng-model="login.email" required ng-focus="clear();" focus>
  </div>
  <div class="col-sm-12">
    <input class="form-control form-text" placeholder="Password" type="password" ng-model="login.password" ng-focus="clear();" required>
  </div>
    <div class="col-sm-12">
      <a href="" ng-click="forgot_password();" class="slant text-right"><p> Forgot Password?</p></a>
    </div>
    <div class="col-sm-12" ng-show="wrongPassword" ng-hide="!wrongPassword">
      Wrong Email/Password combinaion
    </div>

</div>
</div>



    <div class="row">
<div class="col-lg-6 col-lg-offset-3">



    <div class="col-sm-12">

      <p class="text-center">
        <a type="submit" href="" class=" btn golden-button-black btn-lg btn-center" role="button" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
          Login
        </a>

      </p>
    </div>
  </div>
</div>


</div>

    </div>
  </div>
</section>
