<section class="">
  <div class="container-fluid no-padding" >

    <div class="row">
      <div class="col-sm-4" >
        <br/>
        <p class="spec_text text-right "><a href="#/book"><img src="img/prev-page.png" class="prev-icon"> </img>&nbsp;Back</a>
        </p>
      </div>
      <div class="col-sm-4" >
        <p class="text-center">
          <br/>
          <span class="dot "></span>
          <span class="dot"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
        </p>
        <p class="text-center page-info">
          Trip Summary
        </p>
        <hr class="gold_line"> </hr>


        <p class="text-center page-info">
          <img class="trip-logo" src="img/Lambo_logo.png"> </img>
        </p>
        <p class="spec_text text-center">
          Lamborghini Aventador
        </p>
        <p class="spec_text text-center">
          Pirelli Edition <span class="dot1"></span> 2014 Model
        </p>
      </div>
      <div class="col-sm-4" >
        <img src="img/car.png" class="car-top"></img>
      </div>
    </div>

    <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-3" >
    <hr> </hr>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-3" >
          <div class="row">
        <div class="col-sm-6 filters">
          <p class="filter-title"> Start Date </p>
          <div class="col-sm-6">

            <div class="input-group">
              <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
            <!-- <input class="form-input date-input" type="date">  </input> -->
            <input data-provide="datepicker" class=" date-input-small " id="startDate" onkeydown="return false"  ng-model="startDateM">
            </div>
              </div>
                          <div class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon time-group-addon-small">
                          <i class="flaticon flaticon-clock-1"></i></div>
                    <select class="form-input time-select-small" ng-model="startTime">
                      <option value="00:00:00">12 AM </option>
                      <option value="01:00:00">1 AM </option>
                      <option value="02:00:00">2 AM </option>
                      <option value="03:00:00">3 AM </option>
                      <option value="04:00:00">4 AM </option>
                      <option value="05:00:00">5 AM </option>
                      <option value="06:00:00">6 AM </option>
                      <option value="07:00:00">7 AM </option>
                      <option value="08:00:00">8 AM </option>
                      <option value="09:00:00">9 AM </option>
                      <option value="10:00:00">10 AM </option>
                      <option value="11:00:00">11 AM </option>
                      <option value="12:00:00">12 PM </option>
                      <option value="13:00:00">1 PM </option>
                      <option value="14:00:00">2 PM </option>
                      <option value="15:00:00">3 PM </option>
                      <option value="16:00:00">4 PM </option>
                      <option value="17:00:00">5 PM </option>
                      <option value="18:00:00">6 AM </option>
                      <option value="19:00:00">7 PM </option>
                      <option value="20:00:00">8 PM </option>
                      <option value="21:00:00">9 PM </option>
                      <option value="22:00:00">10 PM </option>
                      <option value="23:00:00">11 PM </option>

                    </select>
                    </div>
                    </div>
        </div>

        <!-- <div class="col-sm-2">
          <img src="img/arrow.png" class="img-responsive arrow-img"></img>
        </div> -->
        <div class="col-sm-6 filters">
          <p class="filter-title"> End Date </p>
          <div class="col-sm-6">
            <div class="input-group">
              <div class="input-group-addon date-group-addon"><i class="flaticon flaticon-calendar-6"></i></div>
            <!-- <input class="form-input date-input" type="date">  </input> -->
            <input data-provide="datepicker" class=" date-input-small" id="endDate" onkeydown="return false"  ng-model="startDateM">
            </div>
              </div>
                          <div class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon time-group-addon-small">
                          <i class="flaticon flaticon-clock-1"></i></div>
                    <select class="form-input time-select-small" ng-model="endTime">
                      <option value="00:00:00">12 AM </option>
                      <option value="01:00:00">1 AM </option>
                      <option value="02:00:00">2 AM </option>
                      <option value="03:00:00">3 AM </option>
                      <option value="04:00:00">4 AM </option>
                      <option value="05:00:00">5 AM </option>
                      <option value="06:00:00">6 AM </option>
                      <option value="07:00:00">7 AM </option>
                      <option value="08:00:00">8 AM </option>
                      <option value="09:00:00">9 AM </option>
                      <option value="10:00:00">10 AM </option>
                      <option value="11:00:00">11 AM </option>
                      <option value="12:00:00">12 PM </option>
                      <option value="13:00:00">1 PM </option>
                      <option value="14:00:00">2 PM </option>
                      <option value="15:00:00">3 PM </option>
                      <option value="16:00:00">4 PM </option>
                      <option value="17:00:00">5 PM </option>
                      <option value="18:00:00">6 AM </option>
                      <option value="19:00:00">7 PM </option>
                      <option value="20:00:00">8 PM </option>
                      <option value="21:00:00">9 PM </option>
                      <option value="22:00:00">10 PM </option>
                      <option value="23:00:00">11 PM </option>

                    </select>
                    </div>
                    </div>
          <br/>
          <br/>
        </div>
      </div>
        <div class="form-group">
          <div class="col-sm-12">
          <input type="checkbox" id="checkbox-1-1" class="ui-checkbox" ng-model="chauffeur_selected" />
          <label class="label-text" for="checkbox-1-1">Chauffeur</label>
          <br/>
          <br/>
        </div>

        </div>
        <!--Start show this if chauffeur is  choosen -->
        <div  class="" ng-show="chauffeur_selected">
          <div class="form-group ">
        <div class="col-md-12 input-group">
        <span class="input-group-addon text-group-addon-small"><i class="flaticon flaticon-placeholder-3 golden"></i></span>
            <textarea rows="2" size="30" value="" class="form-control text-textarea-small-left" placeholder="Enter pickup location" ng-model="pickup_location" ng-focus="clear();"></textarea>
        </div>
      </div>

        </div>
        <!--End show this if chauffeur is  choosen -->


        <!--Start show this if chauffeur is not choosen -->
      <div  class=""  ng-show="!chauffeur_selected">
        <div class="form-group">
          <div class="col-lg-6">
            <div class="reg">
              <label><input type="radio" name="optradio" value="0" ng-model="deliver_the_Car">
                <span></span>
              </label>
              <abbr> Deliver the car to me </abbr>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="reg">
              <label><input type="radio" name="optradio" value="1" ng-model="deliver_the_Car">
                <span></span>
              </label>
              <abbr> I'll pick up the car </abbr>
            </div>
          </div>
        </div>


          <!--Start show this if user chooses to deliver  the car -->
          <div class="" ng-show="deliver_the_Car == 0">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon text-group-addon-small"><i class="flaticon flaticon-placeholder-3 golden"></i>  </div>
              <input class="form-input text-input-small" type="text" placeholder="Delivery Address" ng-model="collection_selector">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group" style="width: 100%">
              <span class="input-group-addon checkbox-group-addon-small">
                <input type="checkbox" class="add-checkbox " id="checkbox-1-1" ng-model="collection_selector"> </span>
              <input class="form-input text-input-small" type="text" placeholder="Collection address same as delivery">
            </div>
          </div>



        </div>
        <!--End show this if user chooses to deliver  the car -->
        <!--Start show this if user chooses to pick up the car -->
        <div class="" ng-show="deliver_the_Car == 1">
          <div id="carLocationMap"></div>


        </div>
        <!--End show this if user chooses to pick up the car -->
        </div>
        <!--End show this if chauffeur is choosen -->

        <!-- <div class="form-group">
          <textarea class="form-control text-textarea-small" rows="3" placeholder="Additional request"></textarea>
        </div> -->



        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped spectable">
                <tbody>
                  <tr>
                    <td class="text-right col-md-5">Distance included</td>
                    <td class="col-md-2"></td>
                    <td class="text-left col-md-5">60 Miles. </td>
                  </tr>
                  <tr>
                    <td class="text-right">Daily price</td>
                      <td class="col-md-2"></td>
                    <td class="text-left">£550</td>
                  </tr>
                  <tr>
                    <td class="text-right">Security deposit</td>
                      <td class="col-md-2"></td>
                    <td class="text-left">£7550</td>
                  </tr>

                </tbody>
              </table>
          </div>
        </div>




        <div class="form-group">
          <div class="col-sm-12">
          <input type="checkbox" id="checkbox-1-2" class="ui-checkbox" ng-model="terms_agreed" />
          <label class="label-text" for="checkbox-1-2">I agree to have read the terms & conditions
          </label>
          <br/>
          <br/>
        </div>

        </div>

        <div class="form-group">
          <p class="text-center">
            <a class="btn golden-button-black btn-lg btn-center" role="button" ng-click="payment();" ng-disabled="!terms_agreed">
              Proceed to payment
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
